svg path,
svg rect {
    fill: #009ce2;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

svg {
    animation: spin .75s linear infinite;
}
